/* .create-expense-container{
    
} */
.how-much-money{
    margin:50px 0 10px 250px;
    color: #FCFCFC;
    font-size: medium;
}
.create-expense-input-wrapper{
    margin:10px 0 10px 250px;
}
.create-expense-input{
    border:none;
    outline: none;
    background: none;
    border-bottom: 4px solid white;
    cursor: pointer;
    color:white;
    padding:10px;
    font-size: x-large;
}
.create-expense-input::placeholder{
    color: white;
}
.create-expense-second-wrapper{
    /* background-color: green; */
    /* border-radius: 20px 20px 0 0; */
    width:80%;
    padding:20px 5vw;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.create-expense-field-margin{
    margin:10px;
}